<div class="user-commitments">
  <table class="table table-condensed table-hover table-striped">
    <div class="col-sm-3 col-md-3 pull-right">
      <form class="navbar-form" role="search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search Commitments" name="srch-term" id="srch-term">
        </div>
      </form>
    </div>
    <thead>
      <tr>
        <th>Status</th>
        <th>End Date</th>
        <th>Point Value</th>
        <th>Supervisor User</th>
        <th>Active User</th>
        <th>Description</th>
        <th>Date Created</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>

    <% Commitment.where("(active_user_id = ? OR overseer_user_id = ?)
                         AND active_user_id IS NOT NULL
                         AND overseer_user_id IS NOT NULL
                         AND status != ?",
                        @user.id, @user.id, "Pending").find_each do |user_commitment| %>
      <% supervisor = User.where(id: user_commitment.overseer_user_id).first! %>
      <% active_user = User.where(id: user_commitment.active_user_id).first! %>
      <tr>
        <td><%= user_commitment.status %></td>
        <td><%= user_commitment.date_end %></td>
        <td><%= user_commitment.score_weight %></td>
        <td><%= supervisor.name %></td>
        <td><%= active_user.name %></td>
        <td><%= user_commitment.description %></td>
        <td><%= user_commitment.date_made %></td>
        <% if user_commitment.status != "complete" %>
          <td><%= link_to "Edit", edit_commitment_path(user_commitment) %></td>
        <% else %>
          <td><%= link_to "Complete - Leave Feedback", '/commitment_feedback' %></td>
        <% end %>
      </tr>
    <% end %>

    </tbody>
  </table>
</div>