<div class="user-commitments">
  <table class="table table-condensed table-hover table-striped">
    <div class="col-sm-3 col-md-3 pull-right">
      <form class="navbar-form" role="search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search Commitments" name="srch-term" id="srch-term">
        </div>
      </form>
    </div>
    <thead>
      <tr>
        <th>Status</th>
        <th>End Date</th>
        <th>Point Value</th>
        <th>Overseer User</th>
        <th>Active User</th>
        <th>Description</th>
        <th>Date Created</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Pending acceptance</td>
        <td>20 Nov 2013</td>
        <td>15</td>
        <td>John Calvin</td>
        <td><%= @user.name %></td>
        <td>Bring TPS reports</td>
        <td>1 Nov 2013</td>
        <td><%= link_to "Edit", '/edit_commitment' %></td>
      </tr>
      <tr>
        <td>In Progress</td>
        <td>10 Nov 2013</td>
        <td>25</td>
        <td>Thomas Hobbes</td>
        <td><%= @user.name %></td>
        <td>2nd Deliverable, TPS Project</td>
        <td>25 Oct 2013</td>
        <td><%= link_to "Edit", '/edit_commitment' %></td>
      </tr>
      <tr>
        <td>Completed Successfully!</td>
        <td>20 Oct 2013</td>
        <td>5</td>
        <td>Franz Kafka</td>
        <td><%= @user.name %></td>
        <td>Bring expresso!</td>
        <td>19 Oct 2013</td>
        <td><%= link_to "Complete - Leave Feedback", '/commitment_feedback' %></td>
      </tr>
    </tbody>
  </table>
</div>