<% provide(:title, @user.name) %>
<div class="row">
  <section>
    <h3>
      Public View of <%= @user.name %>:
    </h3>
  </section>
  <br>
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section>
      <h1>Public information allowed:</h1>
      <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quam enim, pulvinar nec facilisis sit amet, volutpat ac mi.</h2>
    </section>
  </aside>
  <aside class="span3 offset2">
    <p>
      You aren't contacts with <%= @user.name %> yet. Connect with them!
    </p>
    <div class="btn">
      <%= link_to "Connect", "#" %>
    </div>
  </aside>
</div>