<% provide(:title, @user.name) %>
<div class="row">
  <section>
    <h3>
      Public View of <%= @user.name %>:
    </h3>
  </section>
  <br>
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section>
      <h1>RC Score:</h1>
      <h2><%= @user.rc_score %></h2>
    </section>
    <section>
      <h1>Reputation:</h1>
      <h2>75%</h2>
    </section>
  </aside>
  <aside class="span3 offset2">
    <p>
      You aren't contacts with <%= @user.name %> yet. Connect with them!
    </p>
    <div class="btn">
      <%= link_to "Send Contact Request", "#" %>
    </div>
  </aside>
</div>