<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">

    <!-- responsive navbar code, currently isn't working? need to "include responsive CSS to utilize".
         refer to: getbootstrap.com/2.3.2/examples/carousel.html
         and inspect the navbar.
     -->
    <button type="button" class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-bar"></span>
    </button>
    <%= link_to "Relationship Capital.", root_path, id: "logo" %>

    <div class="nav-collapse collapse" style="height: 0px;">
      <ul class="nav">
        <li class="active"><%= link_to "Home.", root_path, id: "header_menu" %></li>
        </li><%= link_to "Sign up.", newuser_path, id: "header_menu" %></li>
      </ul>

      <%= render 'layouts/header_dropdown' %>

      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    root_path %></li>
          <li><%= link_to "Sign in", signin_path%></li>
        </ul>
      </nav>
    </div>

  </div>
</header>